@{
    ViewBag.Title = "員工資料維護";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Message</h2>
<fieldset>
    <p>
        <label>帳號</label>
        <br />
        <text>Hello</text>
    </p>
    <p>
        <label>最近登入時間</label>
        <br />
        <text>Hello</text>
    </p>
    <p>
        <label>Name</label>
        <br />
        <input type="text" />
    </p>
    <p>
        <label>Password</label>
        <br />
        <input type="text" />
    </p>
    <p>
        <label>角色</label>
        <br />
        <input type="text" />
    </p>
    <p>
        <label>帳號啟用</label>
        <br />
        <input type="text" />
    </p>
</fieldset>

